<tr>
    <th><img src="pics1.jpg" alt="Not found"></th>
    <td><a href="https://news.yahoo.com/photos-activists-arrested-in-global-warming-protests-in-europe-150700559.html;_ylt=AwrXgyIaAJ9dyhsAVVrAHAx.;_ylu=X3oDMTByb2lvbXVuBGNvbG8DZ3ExBHBvcwMxBHZ0aWQDBHNlYwNzcg--"><b>PHOTOS: Activists arrested in global warming protests in Europe</b></a>
        <p>
            By Charles Q. Choi July 26, 2019</p>
        Activists with the Extinction Rebellion movement blocked major roads in London, Berlin and Amsterdam...</td>
</tr>